{% extends 'base.html' %}

{% block title %}DER Analysis Mapa{% endblock %}

{% block content %}

{% include 'nav_dash.html' %}

<script>
    fetch('/data_losses')
        .then(response => response.json())
        .then(data => {
            var groupLabel1 = []
            var groupLabel2 = []
            for (const[key, val]  of Object.entries(data[2])) {
                groupLabel2.push(val)
            }
            for (const[key]  of Object.entries(data[1])) {
                groupLabel1.push(key)
            }
            //console.log(groupLabel1)
            //console.log(groupLabel2)
            const ctx1 = document.getElementById('myChart1').getContext('2d');
            const ctx2 = document.getElementById('myChart2').getContext('2d');

            const myChart1 = new Chart(ctx1, {
                type: 'bar',
                data: {
                    datasets: [
                        {
                            label: 'Power loss (kWh)',
                            data: data[0],
                            backgroundColor: 'rgba(75,137,192, 0.2)',
                            borderColor: 'rgb(75,137,192)',
                            borderWidth: 1,
                        },
                    ]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            labels: groupLabel1,
                        },
                        x2: {
                            labels: groupLabel2,
                        },
                         y: {
                            beginAtZero: true,

                        }
                    },
                    plugins: {
                        zoom: {
                            pan: {
                                enabled: true,
                                mode: 'x',
                                onPanComplete: ({chart}) => {
                                  console.log(`chart onPanComplete`)
                                },
                            },
                            zoom: {
                                wheel: {
                                    enabled: true,
                                },
                                mode: 'x',
                                onZoomComplete: ({chart}) => {
                                  console.log(`chart onZoomComplete`)
                                },
                            }
                        },

                        title: {
                            display: true,
                            text: 'EDP-SP - Circuit Losses'
                        },
                        subtitle: {
                            display: true,
                            text: 'DO - 2022 - 12'
                        }
                    },
                    responsive: true,
                }
            });
            myChart1.options.plugins.legend.align = 'end';
            myChart1.update();

            const myChart2 = new Chart(ctx2, {
                type: 'bar',
                data: {
                    datasets: [
                        {
                            label: 'Energy loss (kWh)',
                            data: data[3],
                            backgroundColor: 'rgba(75,137,192, 0.2)',
                            borderColor: 'rgb(75,137,192)',
                            borderWidth: 1,
                        },
                    ]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            labels: groupLabel1,
                        },
                        x2: {
                            labels: groupLabel2,
                        },
                         y: {
                            beginAtZero: true,

                        }
                    },
                    plugins: {
                        zoom: {
                            pan: {
                                enabled: true,
                                mode: 'x',
                                onPanComplete: ({chart}) => {
                                  console.log(`chart onPanComplete`)
                                },
                            },
                            zoom: {
                                wheel: {
                                    enabled: true,
                                },
                                mode: 'x',
                                onZoomComplete: ({chart}) => {
                                  console.log(`chart onZoomComplete`)
                                },
                            }
                        },

                        title: {
                            display: true,
                            text: 'EDP-SP - Circuit Losses'
                        },
                        subtitle: {
                            display: true,
                            text: 'DU - 2022 - 12'
                        }
                    },
                    responsive: true,
                }
            });
            myChart2.options.plugins.legend.align = 'end';
            myChart2.update();
        })
        .catch(error => console.error('Error loading chart data:', error));
</script>
{% endblock %}
