{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to DER Analysis</h1>
    <p class="lead">This is an application for DER visualization and analysis using data from BDGD's electricity
        distribution networks. Use the available filters to personalize your map experience.</p>
    <hr class="my-4">
    <p>Você pode explorar o mapa com dados geoespaciais e aplicar filtros como Distribuidora, Subestação e Circuito para refinar os resultados.</p>
    <a class="btn btn-primary btn-lg" href="/map" role="button">Ir para o Mapa</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Recursos da Aplicação</h3>
        <ul>
            <li>Visualização de segmentos de reta no mapa</li>
            <li>Filtros dinâmicos para Distribuidora, Subestação e Circuito</li>
            <li>Estilização personalizável das camadas do mapa</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Como usar</h3>
        <ul>
            <li>Navegue até a seção de mapa</li>
            <li>Selecione os filtros desejados no painel lateral</li>
            <li>Visualize os segmentos de reta no mapa</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Sobre</h3>
        <p>Esta aplicação foi desenvolvida para facilitar a visualização e interação com dados geoespaciais usando OpenLayers, Flask e consultas dinâmicas a banco de dados SQL Server.</p>
    </div>
</div>
{% endblock %}
