{% extends 'base.html' %}

{% block title %}Mapa{% endblock %}

{% block content %}

<div style="display: flex;">
    <!-- Menu lateral -->
    <div id="sidebar" style="width: 300px; padding: 8px; font-size:12px;">

        <label for="distribuidora">Distribuidora:</label>
        <select id="distribuidora" name="distribuidora" style="float:right;width:100px">
            <option value="">Selecione</option>
            <option value="391">EDP-SP</option>
            <option value="404">Energisa MS</option>
            <option value="40">COSERN</option>
        </select><br>

        <label for="subestacao">Subestação:</label>
        <select id="subestacao" name="subestacao" style="float:right;width:100px">
            <option value="">Selecione</option>
        </select><br>

        <label for="circuito">Circuito:</label>
        <select id="circuito" name="circuito" style="float:right;width:100px">
            <option value="">Selecione</option>
        </select>
        <hr>
        <label for="scenarios">Cenários:</label>
        <select id="scenarios" name="scenarios" style="float:right;width:100px">
            <option value="">Base Case</option>
        </select><br>
        <hr>
        <fieldset>
          <div>
            <input type="checkbox" id="summary" name="opt[]" value="summary" />
            <label for="summary">summary</label>
          </div>
          <div>
            <input type="checkbox" id="sub" name="opt[]" value="substations" />
            <label for="sub">Substations</label>
          </div>
          <div>
            <input type="checkbox" id="trafos" name="opt[]" value="tranformadores" />
            <label for="trafos">Transformers</label>
          </div>
          <div>
            <input type="checkbox" id="unremt" name="opt[]" value="reguladores" />
            <label for="unremt">Voltage Regulators</label>
          </div>
          <div>
            <input type="checkbox" id="uncrmt" name="opt[]" value="capacitores" />
            <label for="uncrmt">Capacitors</label>
          </div>
          <div>
            <input type="checkbox" id="ugmt" name="opt[]" value="UGMT" />
            <label for="ugmt">UGMT</label>
          </div>
          <div>
            <input type="checkbox" id="ugbt" name="opt[]" value="UGBT" />
            <label for="ugbt">UGBT</label>
          </div>
          <div>
            <input type="checkbox" id="ucmt" name="opt[]" value="UCMT" />
            <label for="ucmt">UCMT</label>
          </div>
          <div>
            <input type="checkbox" id="ucbt" name="opt[]" value="UCBT" />
            <label for="ucbt">UCBT</label>
          </div>
        </fieldset>

        <button id="applyFilters">Aplicar Filtros</button>


    </div>

    <!-- Mapa -->
    <div id="map" style="width: 100%; height: 600px;"></div>

</div>

    <table id="data-table_0" class="table table-sm">
        <thead>
            <tr id="table-header_0" style="font-size: 0.8em; backgroundColor: 'yellow';"></tr>
        </thead>
        <tbody id="table-body_0" style="font-size: 0.8em;"></tbody>
    </table>
    <table id="data-table_1" class="table table-sm">
        <thead>
            <tr id="table-header_1" style="font-size: 0.8em;"></tr>
        </thead>
        <tbody id="table-body_1" style="font-size: 0.8em;"></tbody>
    </table>
    <table id="data-table_2" class="table table-sm">
        <thead>
            <tr id="table-header_2" style="font-size: 0.8em;"></tr>
        </thead>
        <tbody id="table-body_2" style="font-size: 0.8em;"></tbody>
    </table>
    <table id="data-table_3" class="table table-sm">
        <thead>
            <tr id="table-header_3" style="font-size: 0.8em;"></tr>
        </thead>
        <tbody id="table-body_3" style="font-size: 0.8em;"></tbody>
    </table>


<!-- <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/ol@v10.2.1/dist/ol.js"></script>
<script type="text/javascript" src="https://viglino.github.io/ol-ext/dist/ol-ext.js"></script>


<script>
    // Popup overlay
    var popup = new ol.Overlay.Popup ({
        popupClass: "default", //"tooltips", "warning" "black" "default", "tips", "shadow",
        closeBox: true,
        onshow: function(){ console.log("You opened the box"); },
        onclose: function(){ console.log("You close the box"); },
        positioning: 'auto',
        autoPan: {
          animation: { duration: 250 }
        }
    });

    // Add a popup to display voltage
    var popup1 = new ol.Overlay.Tooltip();


    var selectedStyle = new ol.style.Style({
        stroke: new ol.style.Stroke({
          color: '#f00',
          width: 1,
        }),
        fill: new ol.style.Fill({
          color: 'rgba(255,0,0,0.1)',
        }),
    });

    var map = new ol.Map({
        target: 'map',
        layers: [
            new ol.layer.Tile({
                name: 'Mapa Base',
                source: new ol.source.OSM(),
                opacity: 0.75  // 0 até 1
            })
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([-50.0, -15.0]),  // Coordenada central inicial
            zoom: 4
        }),
        overlays: [popup]
    });

    var switcher = new ol.control.LayerSwitcher();
    map.addControl(switcher)
    map.addInteraction(new ol.interaction.Select({
        condition : function(event) {
        return ol.events.condition.pointerMove(event);
        }
    }));

    // Função para carregar subestações com base na distribuidora selecionada
    document.getElementById('distribuidora').addEventListener('change', function() {
        var distribuidora = this.value;

        fetch(`/api/subestacoes/${distribuidora}`)
            .then(response => response.json())
            .then(subestacoes => {
                var subestacaoSelect = document.getElementById('subestacao');
                subestacaoSelect.innerHTML = '<option value="">Selecione</option>';
                subestacoes.forEach(function(subestacao) {
                    subestacaoSelect.innerHTML += `<option value="${subestacao}">${subestacao}</option>`;
                });
            });
    });

    // Função para carregar circuitos com base na subestação selecionada
    document.getElementById('subestacao').addEventListener('change', function() {
        var subestacao = this.value;

        fetch(`/api/circuitos/${subestacao}`)
            .then(response => response.json())
            .then(circuitos => {
                var circuitoSelect = document.getElementById('circuito');
                circuitoSelect.innerHTML = '<option value="">Selecione</option>';
                circuitos.forEach(function(circuito) {
                    circuitoSelect.innerHTML += `<option value="${circuito[1]}">${circuito[0]}</option>`;
                });
            });
    });

    // Função para carregar segmentos de reta no mapa com base nos filtros
    function loadSegments(distribuidora, subestacao, circuito) {
        document.body.style.cursor = 'wait';  // Cursor de espera

        fetch(`/api/segments?distribuidora=${distribuidora}&subestacao=${subestacao}&circuito=${circuito}`)
            .then(response => response.json())
            .then(data => {
                var format = new ol.format.GeoJSON();
                var features = format.readFeatures(data, {
                    featureProjection: 'EPSG:3857'
                });

                var vectorSource = new ol.source.Vector({
                    features: features
                });

                // Função para adicionar estilos baseados na cor de cada feature
                function estiloSegmento(feature) {
                    return new ol.style.Style({
                        stroke: new ol.style.Stroke({
                            color: feature.get('color'), // Cor da feature do GeoJSON
                            width: 2
                        })
                    });
                }

                var vectorLayer = new ol.layer.Vector({
                    name: subestacao,
                    source: vectorSource,
                    style: estiloSegmento
                });

                const layers = [...map.getLayers().getArray()]
                layers.forEach(function(layer, i) {
                    console.log(i, layer)
                    if (i > 0) map.removeLayer(layer);  // Remove camadas anteriores, exceto a base OSM
                });

                checkboxes = document.getElementsByName('opt[]');
                  for(var i=0, n=checkboxes.length;i<n;i++) {
                    checkboxes[i].checked = false;
                  }
                map.addLayer(vectorLayer);

                var extent = vectorSource.getExtent();
                map.getView().fit(extent, { duration: 1000 });


                // Control Select
                var select = new ol.interaction.Select({});
                map.addInteraction(select);

                map.addOverlay(popup1)
                let selected = null;
                map.on('pointermove', function(e) {
                    if (selected !== null) {
                        selected.setStyle(undefined);
                        selected = null;
                    }
                    map.forEachFeatureAtPixel(e.pixel, function (f) {
                        var nome_camada = f.get("tipo")
                        console.log(nome_camada)
                        if (nome_camada !== "UNTRMT" && nome_camada !== "UCMT" && nome_camada !== "UGMT" &&
                        nome_camada !== "UNREMT" && nome_camada !== "UNCRMT") {
                            selected = f;
                            return true;
                        }
                    });
                    if (selected) {
                        //console.log(selected)
                        if (selected.get("tipo") == 'SUB'){
                            var h = selected.get("nome");
                            popup1.setInfo('SE ' + h );
                        } else{
                            var h = selected.get("bus");
                            popup1.setInfo('Vpu '+ h +' pu' );
                        }
                    } else {
                        popup1.setInfo();
                    }
                });


                  // On selected => show/hide popup
                select.getFeatures().on(['add'], function(e) {
                    var feature = e.element;
                    var content = "";
                    content += "<img src='static/scenarios/base/" + document.getElementById('distribuidora').value
                    content += "/" + document.getElementById('subestacao').value
                    content += "/" + feature.get("ctmt") + "/" +  feature.get("ctmt")
                    content += "_Balance_m1.png' style='width:750px; height:300px;'/>";
                    //content += feature.get("linha");
                    popup.show(feature.getGeometry().getFirstCoordinate(), content);
                    console.log(content);
                });
                select.getFeatures().on(['remove'], function(e) {
                    popup.hide();
                })

                document.body.style.cursor = 'default';  // Cursor normal
            })
            .catch(error => {
                document.body.style.cursor = 'default';  // Cursor normal em caso de erro
                console.error("Erro ao carregar os segmentos:", error);
            });
    }

    // Carregar os segmentos de reta ao clicar no botão de aplicar filtros
    document.getElementById('applyFilters').addEventListener('click', function() {
        var distribuidora = document.getElementById('distribuidora').value;
        var subestacao = document.getElementById('subestacao').value;
        var circuito = document.getElementById('circuito').value;

        loadSegments(distribuidora, subestacao, circuito);
    });

    // Subestações  =========================================================================================
    document.getElementById('sub').addEventListener('click', function() {
        if (document.getElementById('sub').checked  === false) {
            map.getLayers().forEach(function(layer, i) {
                console.log(layer.get('name'))
                if (i > 0 && layer.get('name') === 'SUB') {
                    map.removeLayer(layer);  // Remove camada
                }
            });
            return;
        }
        var distribuidora = document.getElementById('distribuidora').value;
        var subestacao = document.getElementById('subestacao').value;
        var circuito = document.getElementById('circuito').value;
        console.log(subestacao)
        if (subestacao){
            loadSUB(distribuidora, subestacao, circuito);
        }
    });

    // Função para carregar trafos no mapa com base nos filtros
    function loadSUB(distribuidora, subestacao, circuito) {
        document.body.style.cursor = 'wait';  // Cursor de espera

        fetch(`/api/SUB?distribuidora=${distribuidora}&subestacao=${subestacao}&circuito=${circuito}`)
            .then(response => response.json())
            .then(data => {
                var format = new ol.format.GeoJSON();
                var features = format.readFeatures(data, {
                    featureProjection: 'EPSG:3857'
                });
                var vectorSource = new ol.source.Vector({
                    features: features
                });

                // Função para adicionar estilos baseados na cor de cada feature
                function estiloSUB(feature) {
                    return new ol.style.Style({
                        image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
                            color: '#ff8c00',
                            crossOrigin: 'anonymous',
                            anchor: [1.0, 1.0],
                            anchorXUnits: 'fraction',
                            anchorYUnits: 'pixels',
                            scale: 0.07,
                            src: 'static/icon/sub_1.png'
                        }))
                    });
                }

                var vectorLayer = new ol.layer.Vector({
                    name: 'SUB',
                    source: vectorSource,
                    style: estiloSUB
                });
                map.addLayer(vectorLayer);

                var extent = vectorSource.getExtent();
                map.getView().fit(extent, {size:map.getSize(), maxZoom:16, duration: 1000 });
            });
        document.body.style.cursor = 'default';  // Cursor normal
    }


    // Capacitores de Media  =========================================================================================
    document.getElementById('uncrmt').addEventListener('click', function() {
        if (document.getElementById('uncrmt').checked  === false) {
            map.getLayers().forEach(function(layer, i) {
                console.log(layer.get('name'))
                if (i > 0 && layer.get('name') === 'UNCRMT') {
                    map.removeLayer(layer);  // Remove camada
                }
            });
            return;
        }
        var distribuidora = document.getElementById('distribuidora').value;
        var subestacao = document.getElementById('subestacao').value;
        var circuito = document.getElementById('circuito').value;
        console.log(subestacao)
        if (subestacao){
            loadUNCRMT(distribuidora, subestacao, circuito);
        }
    });

    // Função para carregar trafos no mapa com base nos filtros
    function loadUNCRMT(distribuidora, subestacao, circuito) {
        document.body.style.cursor = 'wait';  // Cursor de espera

        fetch(`/api/UNCRMT?distribuidora=${distribuidora}&subestacao=${subestacao}&circuito=${circuito}`)
            .then(response => response.json())
            .then(data => {
                var format = new ol.format.GeoJSON();
                var features = format.readFeatures(data, {
                    featureProjection: 'EPSG:3857'
                });
                var vectorSource = new ol.source.Vector({
                    features: features
                });

                // Função para adicionar estilos baseados na cor de cada feature
                function estiloUNCRMT(feature) {
                    return new ol.style.Style({
                        image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
                            color: '#ff8c00',
                            crossOrigin: 'anonymous',
                            anchor: [1.0, 1.0],
                            scale: 0.055,
                            src: 'static/icon/cap1_1.svg'
                        }))
                    });
                }

                var vectorLayer = new ol.layer.Vector({
                    name: 'UNCRMT',
                    source: vectorSource,
                    style: estiloUNCRMT
                });
                map.addLayer(vectorLayer);

                var extent = vectorSource.getExtent();
                map.getView().fit(extent, { duration: 1000 });
            });
        document.body.style.cursor = 'default';  // Cursor normal
    }

    // Reguladores de Média =====================================================================================
    document.getElementById('unremt').addEventListener('click', function() {
        if (document.getElementById('unremt').checked  === false) {
            map.getLayers().forEach(function(layer, i) {
                console.log(layer.get('name'))
                if (i > 0 && layer.get('name') === 'UNREMT') {
                    map.removeLayer(layer);  // Remove camada
                }
            });
            return;
        }
        var distribuidora = document.getElementById('distribuidora').value;
        var subestacao = document.getElementById('subestacao').value;
        var circuito = document.getElementById('circuito').value;
        console.log(subestacao)
        if (subestacao){
            loadRegu(distribuidora, subestacao, circuito);
        }
    });

    // Função para carregar trafos no mapa com base nos filtros
    function loadRegu(distribuidora, subestacao, circuito) {
        document.body.style.cursor = 'wait';  // Cursor de espera

        fetch(`/api/UNREMT?distribuidora=${distribuidora}&subestacao=${subestacao}&circuito=${circuito}`)
            .then(response => response.json())
            .then(data => {
                var format = new ol.format.GeoJSON();
                var features = format.readFeatures(data, {
                    featureProjection: 'EPSG:3857'
                });
                var vectorSource = new ol.source.Vector({
                    features: features
                });

                // Função para adicionar estilos baseados na cor de cada feature
                function estiloUNREMT(feature) {
                    return new ol.style.Style({
                        image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
                            color: '##ff8c00',
                            crossOrigin: 'anonymous',
                            anchor: [1.0, 1.0],
                            scale: 0.11,
                            src: 'static/icon/regu.svg'
                        }))
                    });
                }

                var vectorLayer = new ol.layer.Vector({
                    name: 'UNREMT',
                    source: vectorSource,
                    style: estiloUNREMT
                });
                map.addLayer(vectorLayer);

                var extent = vectorSource.getExtent();
                map.getView().fit(extent, {size:map.getSize(), maxZoom:16, duration: 1000 });
            })
            .catch(error => {
              console.log('Error:', error);
            });
        document.body.style.cursor = 'default';  // Cursor normal
    }


    // UGMT  =========================================================================================
    document.getElementById('ugmt').addEventListener('click', function() {
        if (document.getElementById('ugmt').checked  === false) {
            map.getLayers().forEach(function(layer, i) {
                if (i > 0 && layer.get('name') === 'UGMT') {
                    map.removeLayer(layer);  // Remove camada
                }
            });
            return;
        }
        var distribuidora = document.getElementById('distribuidora').value;
        var subestacao = document.getElementById('subestacao').value;
        var circuito = document.getElementById('circuito').value;
        console.log(subestacao)
        if (subestacao){
            loadUGMT(distribuidora, subestacao, circuito);
        }
    });

    // Função para carregar trafos no mapa com base nos filtros
    function loadUGMT(distribuidora, subestacao, circuito) {
        document.body.style.cursor = 'wait';  // Cursor de espera

        fetch(`/api/UGMT?distribuidora=${distribuidora}&subestacao=${subestacao}&circuito=${circuito}`)
            .then(response => response.json())
            .then(data => {
                var format = new ol.format.GeoJSON();
                var features = format.readFeatures(data, {
                    featureProjection: 'EPSG:3857'
                });
                var vectorSource = new ol.source.Vector({
                    features: features
                });

                // Função para adicionar estilos baseados na cor de cada feature
                function estiloUGMT(feature) {
                    return new ol.style.Style({
                        image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({

                            crossOrigin: 'anonymous',
                            anchor: [1.0, 1.0],
                            scale: 0.07,
                            src: 'static/icon/pv.svg'
                        }))
                    });
                }

                var vectorLayer = new ol.layer.Vector({
                    name: 'UGMT',
                    source: vectorSource,
                    style: estiloUGMT
                });
                map.addLayer(vectorLayer);

                var extent = vectorSource.getExtent();
                map.getView().fit(extent, { duration: 1000 });
            });
        document.body.style.cursor = 'default';  // Cursor normal
    }

    // UCMT  =========================================================================================
    document.getElementById('ucmt').addEventListener('click', function() {
        if (document.getElementById('ucmt').checked  === false) {
            map.getLayers().forEach(function(layer, i) {
                if (i > 0 && layer.get('name') === 'UCMT') {
                    map.removeLayer(layer);  // Remove camada
                }
            });
            return;
        }
        var distribuidora = document.getElementById('distribuidora').value;
        var subestacao = document.getElementById('subestacao').value;
        var circuito = document.getElementById('circuito').value;
        console.log(subestacao)
        if (subestacao) {
            loadUCMT(distribuidora, subestacao, circuito);
        }
    });

    // Função para carregar trafos no mapa com base nos filtros
    function loadUCMT(distribuidora, subestacao, circuito) {
        document.body.style.cursor = 'wait';  // Cursor de espera

        fetch(`/api/UCMT?distribuidora=${distribuidora}&subestacao=${subestacao}&circuito=${circuito}`)
            .then(response => response.json())
            .then(data => {
                var format = new ol.format.GeoJSON();
                var features = format.readFeatures(data, {
                    featureProjection: 'EPSG:3857'
                });
                var vectorSource = new ol.source.Vector({
                    features: features
                });

                // Função para adicionar estilos baseados na cor de cada feature
                function estiloUCMT(feature) {
                    return new ol.style.Style({
                        image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({

                            crossOrigin: 'anonymous',
                            anchor: [0, 0],
                            scale: 0.07,
                            src: 'static/icon/ind.svg'
                        }))
                    });
                }

                var vectorLayer = new ol.layer.Vector({
                    name: 'UCMT',
                    source: vectorSource,
                    style: estiloUCMT
                });
                map.addLayer(vectorLayer);

                var extent = vectorSource.getExtent();
                map.getView().fit(extent, { duration: 1000 });
            });
        document.body.style.cursor = 'default';  // Cursor normal
    }

    // trafos  =========================================================================================
    document.getElementById('trafos').addEventListener('click', function() {
        if (document.getElementById('trafos').checked  === false) {
            map.getLayers().forEach(function(layer, i) {
                if (i > 0 && layer.get('name') === 'trasformadores') {
                    map.removeLayer(layer);  // Remove camada
                }
            });
            return;
        }
        var distribuidora = document.getElementById('distribuidora').value;
        var subestacao = document.getElementById('subestacao').value;
        var circuito = document.getElementById('circuito').value;
        console.log(subestacao)
        if (subestacao) {
            loadTrafos(distribuidora, subestacao, circuito);
        }
    });

    // Função para carregar trafos no mapa com base nos filtros
    function loadTrafos(distribuidora, subestacao, circuito) {
        document.body.style.cursor = 'wait';  // Cursor de espera

        fetch(`/api/trafos?distribuidora=${distribuidora}&subestacao=${subestacao}&circuito=${circuito}`)
            .then(response => response.json())
            .then(data => {
                var format = new ol.format.GeoJSON();
                var features = format.readFeatures(data, {
                    featureProjection: 'EPSG:3857'
                });
                var vectorSource = new ol.source.Vector({
                    features: features
                });

                // Função para adicionar estilos baseados na cor de cada feature
                function estiloTrafos(feature) {
                    return new ol.style.Style({
                        image: new ol.style.Icon(/** @type {olx.style.IconOptions} */ ({
                            //color: '#ff0000',
                            crossOrigin: 'anonymous',
                            anchor: [0.5, 1],
                            scale: 0.03,
                            src: 'static/icon/tr.png'
                        }))
                    });
                }

                var vectorLayer = new ol.layer.Vector({
                    name: 'trasformadores',
                    source: vectorSource,
                    style: estiloTrafos
                });
                map.addLayer(vectorLayer);

                var extent = vectorSource.getExtent();
                map.getView().fit(extent, { duration: 1000 });
            });
        document.body.style.cursor = 'default';  // Cursor normal
    }

    // summary
    document.getElementById('summary').addEventListener('click', function() {
        if (document.getElementById('summary').checked  === false) {
            tabela = document.getElementById('table-header_0');
            tabela.innerHTML = "";
            tabela = document.getElementById('table-header_1');
            tabela.innerHTML = "";
            tabela = document.getElementById('table-header_2');
            tabela.innerHTML = "";
            tabela = document.getElementById('table-header_3');
            tabela.innerHTML = "";
            document.querySelectorAll("table tbody tr").forEach(function(e){e.remove()})


            return;
        }
        var distribuidora = document.getElementById('distribuidora').value;
        var subestacao = document.getElementById('subestacao').value;
        var circuito = document.getElementById('circuito').value;

        for (let i = 0; i < 4; i++) {
            fetch(`/api/list?distribuidora=${distribuidora}&subestacao=${subestacao}&circuito=${circuito}&idSummary=${i}`)
                .then(response => response.json())
                .then(data => {
                    const header = document.getElementById('table-header_'+i);
                    header.style.backgroundColor = '#d9d9d9'
                    const body = document.getElementById('table-body_'+i);

                    // Adicionar cabeçalhos da tabela
                    if (data.length > 0) {
                        Object.keys(data[0]).forEach(key => {
                            const th = document.createElement('th');
                            th.textContent = key;
                            header.appendChild(th);
                        });
                    }

                    // Adicionar linhas da tabela
                    data.forEach(row => {
                        const tr = document.createElement('tr');
                        Object.values(row).forEach(value => {
                            const td = document.createElement('td');
                            td.textContent = value;
                            tr.appendChild(td);
                        });
                        body.appendChild(tr);
                    });
                });
        };
    });

</script>
{% endblock %}
