{% extends 'base.html' %}

{% block title %}Mapa{% endblock %}

{% block content %}

<div style="display: flex;">
    <!-- Menu lateral -->
    <div id="sidebar" style="width: 300px; padding: 8px; font-size:12px;">

        <label for="distribuidora">Distribuidora:</label>
        <select id="distribuidora" name="distribuidora" style="float:right;width:100px">
            <option value="">Selecione</option>
            <option value="391">EDP-SP</option>
            <option value="404">Energisa MS</option>
            <option value="40">COSERN</option>
        </select><br>

        <label for="subestacao">Subestação:</label>
        <select id="subestacao" name="subestacao" style="float:right;width:100px">
            <option value="">Selecione</option>
        </select><br>

        <label for="circuito">Circuito:</label>
        <select id="circuito" name="circuito" style="float:right;width:100px">
            <option value="">Selecione</option>
        </select>
        <hr>

        <fieldset>
          <div>
            <input type="checkbox" id="summary" name="opt[]" value="summary" />
            <label for="summary">summary</label>
          </div>
          <div>
            <input type="checkbox" id="trafos" name="opt[]" value="tranformadores" />
            <label for="trafos">Transformers</label>
          </div>
            <div>
            <input type="checkbox" id="ugmt" name="opt[]" value="UGMT" />
            <label for="ugmt">UGMT</label>
          </div>
        </fieldset>

        <button id="applyFilters">Aplicar Filtros</button>


    </div>

    <!-- Mapa -->
    <div id="map" style="width: 100%; height: 600px;"></div>

</div>

    <table id="data-table_0" class="table table-sm">
        <thead>
            <tr id="table-header_0" style="font-size: 0.8em; backgroundColor: 'yellow';"></tr>
        </thead>
        <tbody id="table-body_0" style="font-size: 0.8em;"></tbody>
    </table>
    <table id="data-table_1" class="table table-sm">
        <thead>
            <tr id="table-header_1" style="font-size: 0.8em;"></tr>
        </thead>
        <tbody id="table-body_1" style="font-size: 0.8em;"></tbody>
    </table>
    <table id="data-table_2" class="table table-sm">
        <thead>
            <tr id="table-header_2" style="font-size: 0.8em;"></tr>
        </thead>
        <tbody id="table-body_2" style="font-size: 0.8em;"></tbody>
    </table>
    <table id="data-table_3" class="table table-sm">
        <thead>
            <tr id="table-header_3" style="font-size: 0.8em;"></tr>
        </thead>
        <tbody id="table-body_3" style="font-size: 0.8em;"></tbody>
    </table>


<!-- <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/ol@v10.2.1/dist/ol.js"></script>
<script type="text/javascript" src="https://viglino.github.io/ol-ext/dist/ol-ext.js"></script>


<script>
    // Popup overlay
    var popup = new ol.Overlay.Popup ({
        popupClass: "default", //"tooltips", "warning" "black" "default", "tips", "shadow",
        closeBox: true,
        onshow: function(){ console.log("You opened the box"); },
        onclose: function(){ console.log("You close the box"); },
        positioning: 'auto',
        autoPan: {
          animation: { duration: 250 }
        }
    });

    // Add a popup to display voltage
    var popup1 = new ol.Overlay.Tooltip();


    var selectedStyle = new ol.style.Style({
        stroke: new ol.style.Stroke({
          color: '#f00',
          width: 1,
        }),
        fill: new ol.style.Fill({
          color: 'rgba(255,0,0,0.1)',
        }),
    });

    var map = new ol.Map({
        target: 'map',
        layers: [
            new ol.layer.Tile({
                name: 'Mapa Base',
                source: new ol.source.OSM(),
                opacity: 0.75  // 0 até 1
            })
        ],
        view: new ol.View({
            center: ol.proj.fromLonLat([-50.0, -15.0]),  // Coordenada central inicial
            zoom: 4
        }),
        overlays: [popup]
    });

    var switcher = new ol.control.LayerSwitcher();
    map.addControl(switcher)
    map.addInteraction(new ol.interaction.Select({
        condition : function(event) {
        return ol.events.condition.pointerMove(event);
        }
    }));

    // Função para carregar subestações com base na distribuidora selecionada
    document.getElementById('distribuidora').addEventListener('change', function() {
        var distribuidora = this.value;

        fetch(`/api/subestacoes/${distribuidora}`)
            .then(response => response.json())
            .then(subestacoes => {
                var subestacaoSelect = document.getElementById('subestacao');
                subestacaoSelect.innerHTML = '<option value="">Selecione</option>';
                subestacoes.forEach(function(subestacao) {
                    subestacaoSelect.innerHTML += `<option value="${subestacao}">${subestacao}</option>`;
                });
            });
    });

    // Função para carregar circuitos com base na subestação selecionada
    document.getElementById('subestacao').addEventListener('change', function() {
        var subestacao = this.value;

        fetch(`/api/circuitos/${subestacao}`)
            .then(response => response.json())
            .then(circuitos => {
                var circuitoSelect = document.getElementById('circuito');
                circuitoSelect.innerHTML = '<option value="">Selecione</option>';
                circuitos.forEach(function(circuito) {
                    circuitoSelect.innerHTML += `<option value="${circuito[1]}">${circuito[0]}</option>`;
                });
            });
    });

    // Função para carregar segmentos de reta no mapa com base nos filtros
    function loadSegments(distribuidora, subestacao, circuito) {
        document.body.style.cursor = 'wait';  // Cursor de espera

        fetch(`/api/segments?distribuidora=${distribuidora}&subestacao=${subestacao}&circuito=${circuito}`)
            .then(response => response.json())
            .then(data => {
                var format = new ol.format.GeoJSON();
                var features = format.readFeatures(data, {
                    featureProjection: 'EPSG:3857'
                });

                var vectorSource = new ol.source.Vector({
                    features: features
                });

                // Função para adicionar estilos baseados na cor de cada feature
                function estiloSegmento(feature) {
                    return new ol.style.Style({
                        stroke: new ol.style.Stroke({
                            color: feature.get('color'), // Cor da feature do GeoJSON
                            width: 2
                        })
                    });
                }

                var vectorLayer = new ol.layer.Vector({
                    name: subestacao,
                    source: vectorSource,
                    style: estiloSegmento
                });

                map.getLayers().forEach(function(layer, i) {
                    if (i > 0) map.removeLayer(layer);  // Remove camadas anteriores, exceto a base OSM
                });
                map.addLayer(vectorLayer);

                var extent = vectorSource.getExtent();
                map.getView().fit(extent, { duration: 1000 });


                // Control Select
                var select = new ol.interaction.Select({});
                map.addInteraction(select);

                map.addOverlay(popup1)
                let selected = null;
                map.on('pointermove', function(e) {
                    if (selected !== null) {
                        selected.setStyle(undefined);
                        selected = null;
                    }
                    map.forEachFeatureAtPixel(e.pixel, function (f) {
                        selected = f;
                        return true;
                    });
                    if (selected) {
                        var h = selected.get("bus");
                        popup1.setInfo(h +' p.u' );
                    } else {
                        popup1.setInfo();
                    }
                });


                  // On selected => show/hide popup
                select.getFeatures().on(['add'], function(e) {
                    var feature = e.element;
                    var content = "";
                    content += "<img src='static/scenarios/base/" + document.getElementById('distribuidora').value
                    content += "/" + document.getElementById('subestacao').value
                    content += "/" + feature.get("ctmt") + "/" +  feature.get("ctmt")
                    content += "_m1.png' style='width:750px; height:300px;'/>";
                    //content += feature.get("linha");
                    popup.show(feature.getGeometry().getFirstCoordinate(), content);
                    console.log(content);
                });
                select.getFeatures().on(['remove'], function(e) {
                    popup.hide();
                })

                document.body.style.cursor = 'default';  // Cursor normal
            })
            .catch(error => {
                document.body.style.cursor = 'default';  // Cursor normal em caso de erro
                console.error("Erro ao carregar os segmentos:", error);
            });
    }

    // Carregar os segmentos de reta ao clicar no botão de aplicar filtros
    document.getElementById('applyFilters').addEventListener('click', function() {
        var distribuidora = document.getElementById('distribuidora').value;
        var subestacao = document.getElementById('subestacao').value;
        var circuito = document.getElementById('circuito').value;

        loadSegments(distribuidora, subestacao, circuito);
    });

    // summary
    document.getElementById('summary').addEventListener('click', function() {
        if (document.getElementById('summary').checked  === false) {
            tabela = document.getElementById('table-header_0');
            tabela.innerHTML = "";
            tabela = document.getElementById('table-header_1');
            tabela.innerHTML = "";
            tabela = document.getElementById('table-header_2');
            tabela.innerHTML = "";
            tabela = document.getElementById('table-header_3');
            tabela.innerHTML = "";
            document.querySelectorAll("table tbody tr").forEach(function(e){e.remove()})


            return;
        }
        var distribuidora = document.getElementById('distribuidora').value;
        var subestacao = document.getElementById('subestacao').value;
        var circuito = document.getElementById('circuito').value;

        for (let i = 0; i < 4; i++) {
            fetch(`/api/list?distribuidora=${distribuidora}&subestacao=${subestacao}&circuito=${circuito}&idSummary=${i}`)
                .then(response => response.json())
                .then(data => {
                    const header = document.getElementById('table-header_'+i);
                    header.style.backgroundColor = '#d9d9d9'
                    const body = document.getElementById('table-body_'+i);

                    // Adicionar cabeçalhos da tabela
                    if (data.length > 0) {
                        Object.keys(data[0]).forEach(key => {
                            const th = document.createElement('th');
                            th.textContent = key;
                            header.appendChild(th);
                        });
                    }

                    // Adicionar linhas da tabela
                    data.forEach(row => {
                        const tr = document.createElement('tr');
                        Object.values(row).forEach(value => {
                            const td = document.createElement('td');
                            td.textContent = value;
                            tr.appendChild(td);
                        });
                        body.appendChild(tr);
                    });
                });
        };
    });

</script>
{% endblock %}
