<!-- Navbar Bootstrap dashboard-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #62a2d1;">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 active" >
        <li class="nav-item ">
          <a class="nav-link" href="/dashboard">Power Transformer Loading <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Voltage Analysis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Power Circuit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reverse Power Flow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Voltage Unbalance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dash_losses">Losses</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
