<style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        display: flex;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        background-color: #333;
        color: white;
        position: fixed;
        left: -250px; /* Escondido inicialmente */
        transition: left 0.3s;
        padding: 20px;
    }

    .sidebar h2 {
        margin: 0;
    }

    .sidebar ul {
        list-style: none;
        padding: 0;
    }

    .sidebar ul li {
        margin: 15px 0;
    }

    .sidebar ul li a {
        color: white;
        text-decoration: none;
    }

    .sidebar #close-btn {
        background: none;
        border: none;
        color: white;
        font-size: 12px;
        cursor: pointer;
    }

    .content {
        margin-left: 0;
        flex-grow: 1;
        padding: 20px;
        transition: margin-left 0.3s;
    }

    .content #open-btn {
        margin-bottom: 20px;
        font-size: 14px; /* Ajuste o tamanho do botão */
    }

    canvas {
        width: 100%;
        height: 150px;
        background-color: #f4f4f4;
    }

    .sidebar select {
        width: 100%;
        margin-top: 5px;
        padding: 5px;
        border: none;
        border-radius: 5px;
    }
</style>

<!-- Navbar Bootstrap dashboard
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #62a2d1;">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 active" >
        <li class="nav-item ">
          <a class="nav-link" href="/dashboard">Power Transformer Loading <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Voltage Analysis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Power Circuit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reverse Power Flow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Voltage Unbalance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dash_losses">Losses</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
-->
<div style="display: flex; position: relative;">
    <!-- Menu lateral -->
     <div id="sidebar" style="width: 250px; min-width:200px;  padding: 8px; font-size:12px; transition: width 0.4s, opacity 0.4s; overflow: hidden;">
        <button id="toggleSidebar" style="margin-bottom: 10px; float: right;">&#9776</button><br>
         <hr>
        <label for="distribuidora">Utility:</label>
        <select id="distribuidora" name="distribuidora" style="float:right;width:110px">
            <option value="">Select</option>
            <option value="391">EDP_SP 2022</option>
            <option value="404">Energisa_MS 2022</option>
            <option value="40">COSERN 2023</option>
        </select><br>
        <label for="subestacao">Substation:</label>
        <select id="subestacao" name="subestacao" style="float:right;width:110px">
            <option value="">Select</option>
        </select><br>
        <label for="circuito">Circuit:</label>
        <select id="circuito" name="circuito" style="float:right;width:110px">
            <option value="">Select</option>
        </select>
        <hr>
        <label for="scenarios">Scenario:</label>
        <select id="scenarios" name="scenarios" style="float:right;width:110px">
        </select>

        <label for="tipo_dia">Type of Day:</label>
        <select id="tipo_dia" name="tipo_dia" style="float:right;width:110px">
            <option value="DU">Workdays (DU)</option>
            <option value="SA">Saturday (SA)</option>
            <option value="DO">Sunday/Holidays (DO)</option>
        </select><br>

        <label for="meses">Month:</label>
        <select id="meses" name="meses" style="float:right;width:110px">
        </select>
        <hr>

         <span id> Scenario Study List: <i id="study_p" style="text-transform:uppercase"></i></span>
        <ul id="list_study" style="list-style: none; padding: 0; margin: 5px;">
         <li>
           <a href="#" onclick="power_transformer_loading(); return false;" title="Power Transformer Loading" data-parent="Base-sc_type1">
             <span class="links_name">Power Transformer Loading</span>
           </a>
         </li>
         <li>
           <a href="#" title="Voltage Analysys" data-parent="Base-sc_type1">
             <span class="links_name">Voltage Analysys</span>
           </a>
         </li>
         <li>
           <a href="#" onclick="load_power_circuit(); return false;" title="Power Circuit" data-parent="Base-sc_type1">
             <span class="links_name">Power Circuit</span>
           </a>
         </li>
         <li>
           <a href="#" title="Reverse Power Flow" data-parent="Base-sc_type1">
             <span class="links_name">Reverse Power Flow</span>
           </a>
         </li>
         <li>
           <a href="#" title="Voltage Unbalance" data-parent="Base-sc_type1">
             <span class="links_name">Voltage Unbalance</span>
           </a>
         </li>
         <li>
           <a href="#" onclick="load_losses(); return false;" title="Energy Losses" data-parent="Base-sc_type1">
             <span class="links_name">Losses</span>
           </a>
         </li>
         <li>
           <a href="#" onclick="load_gd_insertion('case1','Undervoltage & Overvoltage'); return false;" title="GD Penetration Analysis" data-parent="Power Factor">
             <span class="links_name">Undervoltage & Overvoltage</span>
           </a>
         </li>
         <li>
           <a href="#" onclick="load_gd_insertion('case2','Undervoltage'); return false;" title="GD Penetration Analysis" data-parent="Power Factor">
             <span class="links_name">Undervoltage</span>
           </a>
         </li>
         <li>
           <a href="#" onclick="load_gd_insertion('case3','Overvoltage'); return false;" title="GD Penetration Analysis" data-parent="Power Factor">
             <span class="links_name">Overvoltage</span>
           </a>
         </li>
         <li>
           <a href="#" onclick="load_gd_insertion('PF_Losses','PF Study Scenario'); return false;" title="GD Penetration Analysis" data-parent="Power Factor">
             <span class="links_name">Energy Losses</span>
           </a>
         </li>
         <li>
           <a href="#" onclick="load_gd_insertion('PF_RPF','PF Study Scenario'); return false;" title="GD Penetration Analysis" data-parent="Power Factor">
             <span class="links_name">Reverse Power Flow</span>
           </a>
         </li>
         <li>
           <a href="#" onclick="load_gd_insertion('BESS_Losses','BESS Study Scenario'); return false;" title="GD Penetration Analysis" data-parent="BESS">
             <span class="links_name">Energy Losses</span>
           </a>
         </li>
         <li>
           <a href="#" onclick="load_gd_insertion('BESS_RPF','BESS Study Scenario'); return false;" title="GD Penetration Analysis" data-parent="BESS">
             <span class="links_name">Reverse Power Flow</span>
           </a>
         </li>

        </ul>
    </div>

    <div id="chart-container" class="chart-container" style = "position: relative; height: 44vh; width:100vw;">
        <canvas id="myChart1"></canvas>
        <canvas id="myChart2"></canvas>
        <canvas id="myChart3"></canvas>
        <canvas id="myChart4"></canvas>
    </div>
</div>

<script>
    function filter_list(scenario) {
        let input, filter, ul, li, a, i, txtValue;
        input = scenario

        filter = input.toUpperCase();
        console.log(filter)
        ul = document.getElementById("list_study");
        console.log(ul)
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            //txtValue = a.textContent || a.innerText;
            txtValue = a.getAttribute("data-parent");
             console.log(txtValue)
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }

    function load_gd_insertion(type_case, txt_title){
        if (!document.getElementById('distribuidora').value){
                console.log('Select a Utility!')
                return;
            }
        var t = document.getElementById('distribuidora')
        const dist_text = t.options[t.selectedIndex].text;
        console.log(type_case)
        document.body.style.cursor = 'wait';  // Cursor de espera
        load_gd_penetrion_analysis(document.getElementById('distribuidora').selectedOptions[0].getAttribute('info'),
                                    document.getElementById('subestacao').value,
                                    document.getElementById('scenarios').value,
                                    document.getElementById('circuito').value,
                                    document.getElementById('tipo_dia').value,
                                    document.getElementById('meses').value,
                                    dist_text.slice(-4),
                                    type_case,
                                    txt_title
                                   )
        document.body.style.cursor = 'default';  // Cursor normal
    }

    function power_transformer_loading(){
        if (!document.getElementById('distribuidora').value){
            alert('Select a Utility!');
            console.log('Select a Utility!')
            return;
        }
        document.body.style.cursor = 'wait';  // Cursor de espera
        var t = document.getElementById("distribuidora");
        var dist_text = t.options[t.selectedIndex].text;
        var ano = dist_text.slice(-4);
        transformer_loading(document.getElementById('distribuidora').selectedOptions[0].getAttribute('info'),
                            ano,
                            document.getElementById('meses').value)
        document.body.style.cursor = 'default';  // Cursor normal
    }

    function load_losses(){
         if (!document.getElementById('distribuidora').value){
            alert('Select a Utility!');
            console.log('Select a Utility!')
            return;
        }
        var t = document.getElementById("distribuidora");
        var dist_text = t.options[t.selectedIndex].text;
        var ano = dist_text.slice(-4);
        console.log(ano);
        document.body.style.cursor = 'wait';  // Cursor de espera
        losses(document.getElementById('distribuidora').selectedOptions[0].getAttribute('info'),
            document.getElementById('subestacao').value,
            document.getElementById('circuito').value,
            document.getElementById('scenarios').value,
            document.getElementById('tipo_dia').value,
            ano,
            document.getElementById('meses').value
        )
        document.body.style.cursor = 'default';  // Cursor normal
    }

    function load_power_circuit(){
        if (!document.getElementById('distribuidora').value){
            alert('Select a Utility!');
            console.log('Select a Utility!')
            return;
        }
        if (!document.getElementById('subestacao').value){
            //alert('Select a substation!');
            console.log('Select a Substation!')
            //return;
        }

        document.body.style.cursor = 'wait';  // Cursor de espera
        var t = document.getElementById("distribuidora");
        var dist_text = t.options[t.selectedIndex].text;
        var ano = dist_text.slice(-4);
        daily_load(document.getElementById('distribuidora').selectedOptions[0].getAttribute('info'),
            document.getElementById('subestacao').value,
            document.getElementById('circuito').value,
            document.getElementById('scenarios').value,
            document.getElementById('tipo_dia').value,
            ano,
            document.getElementById('meses').value)
        document.body.style.cursor = 'default';  // Cursor normal
    }

    document.getElementById('toggleSidebar').addEventListener('click', function() {
        var sidebar = document.getElementById('sidebar');
        if (sidebar.style.width === '250px') {
            sidebar.style.minWidth = '0';
            sidebar.style.width = '0';

        } else {
            sidebar.style.width = '250px';
            sidebar.style.minWidth = '200px';
        }
    });

    window.addEventListener('load', function() {
        document.getElementById('study_p').innerHTML = document.getElementById('scenarios').value;
        //console.log(document.getElementById('scenarios').value)
        filter_list(document.getElementById('scenarios').value);
    });

    document.getElementById('scenarios').addEventListener('change', function() {
        document.getElementById('study_p').innerHTML = document.getElementById('scenarios').value;
        console.log(document.getElementById('scenarios').value)
        filter_list(document.getElementById('scenarios').value);
    });

</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.1.1/chartjs-plugin-zoom.min.js"></script>

<script src="{{url_for('static', filename='js/sidebar_base.js') }}"></script>

<!-- Load plotly.js into the DOM -->
<script src='https://cdn.plot.ly/plotly-3.0.1.min.js'></script>
<!--<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>-->

<!--<script src="{{url_for('static', filename='js/dash_plotly.js') }}"></script> -->
